/*
 * a haiku:
 *
 * wtf is this
 * idk what i'm doing
 * i'm a mobile dev
 */

html, body {
	height: 100%;
	background: #d2d2d2;
}
body {
	margin: 0;
}

#container {
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

#content {
	font-family: 'Courier New', Courier, monospace;
	padding-right: 30px;
	padding-left: 30px;
}

#photo img {
	border-radius: 50%;
	object-fit: cover;
}